<header>
    <nav *ngIf="showMenu">
        <div class="nav-wrapper">
            <a routerLink="" class="brand-logo">Rotas com Angular</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li routerLinkActive="active"><a [routerLink]="['/cursos']" 
                [queryParams]="{pagina:1}" >Cursos</a></li>
            <!-- <li routerLinkActive="active"><a [routerLink]="['/curso', idCurso]">Curso com id</a></li>-->
            <li routerLinkActive="active"><a [routerLink]="['/alunos']">Alunos</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <!--<p>Informe o identificador do curso</p><br>
    <input type="number" [(ngModel)]="idCurso">-->
    <router-outlet></router-outlet>
</div>
